RewriteEngine On

# Fuerza HTTPS + www como única versión canónica.
RewriteCond %{HTTPS} !=on [OR]
RewriteCond %{HTTP_HOST} !^www\.pmcconsultora\.com\.ar$ [NC]
RewriteRule ^ https://www.pmcconsultora.com.ar%{REQUEST_URI} [L,R=301]

# Evita una URL duplicada /index.html.
RewriteCond %{THE_REQUEST} \s/+index\.html[?\s] [NC]
RewriteRule ^index\.html$ https://www.pmcconsultora.com.ar/ [L,R=301]

Options -Indexes
